
    <%-include("partials/message")%>
<div class="jumbotron text-centre " style="padding: 50px;">
    <h1>Chat-Room</h1>
    <div class="login_box">
        <h2 class="heading">Login Form</h2>
      <div class="form_login"> <form  method="POST" action="/">
           <div> <label class="login_form" name="Email" type="text">E-mail</label>
            <input name="Email" type="email" placeholder="Enter your Email" required></div>
           <div> <label class="login_form" name="pwd1" type="text">Password</label>
            <input name="pwd1" type="password" placeholder="Enter your Password" required></div>
            <div> 
                <button class="btn btn-danger">Submit</button>
            </div></form>
           <p class="signup_link">haven't signed up yet?<a href="/register" class="btn btn-link"><u><strong>Sign-up</strong></u></a></p> 
          
        </div> 
    </div>
</div>

